<?xml version="1.0" encoding="UTF-8"?>
<svg width="93px" height="15px" viewBox="0 0 93 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47 (45396) - http://www.bohemiancoding.com/sketch -->
    <title>ScrumLinks</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="18" font-family="HelveticaNeue-Bold, Helvetica Neue" letter-spacing="-0.569999993" font-weight="bold">
        <text id="ScrumLinks" fill="#FFFFFF">
            <tspan x="0.13426872" y="14">Scrum</tspan>
            <tspan x="53.2822688" y="14" font-family="HelveticaNeue, Helvetica Neue" font-weight="normal">Link</tspan>
            <tspan x="84.3562688" y="14" font-family="HelveticaNeue, Helvetica Neue" font-weight="normal" letter-spacing="-1.069444">s</tspan>
        </text>
    </g>
</svg>
